#box1 {
    color: blue; /* color name*/
    /* border-style: dashed;
    border-color: salmon;
    border-width: 5px; */
    border: 5px dashed salmon;
}

#box2 {
    color: rgb(0, 0, 250); /* rgb value*/
    border: 5px dotted green;
}

#box3 {
    color: #0000ff; /* hex value*/
    border-top: 5px solid #ff9010;
    border-right: 10px groove cyan;
    border-bottom: 15px outset #2586ff;
    border-left: 20px inset #10ef34;
    border-radius: 20px;
}

#box4 {
    color: hsl(240, 100%, 50%); /* hsl value*/
    
}

#box5 {
    color: rgba(0, 0, 250, 1); /* rgba value*/
}

#box6 {
    color: hsla(240, 100%, 50%, 1); /* hsla value*/
}